################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mock.API
/Mock.API/bin/Debug/net8.0
/Mock.API/obj
/Mock.Application/bin/Debug/net8.0
/Mock.Application/obj
/Mock.Repository/bin/Debug/net8.0
/Mock.Repository/obj
/Mock.Shared/bin/Debug/net8.0
/Mock.Shared/obj
/Mock.Gateway/bin/Debug/net8.0
/.vs/ProjectEvaluation
/Mock.Gateway/obj
/Mock.AirlineService/bin/Debug/net8.0
/Mock.AirlineService/obj
/Mock.HospitalityService/bin/Debug/net8.0
/Mock.UserService/bin/Debug/net8.0
/Mock.UserService/obj
/Mock.HospitalityService/obj
/Mock.AuthService/obj
/Mock.AuthService/Properties
